**/.DS_Store
**/__pycache__
__pycache__
**/.ipynb_checkpoints/*
env
*.egg-info/
client.log
merge.log
.java-version
target
bin
tmp
Thumbs.db
.project
.settings
.classpath
.idea
.gradle
**/build
*/out/
*.iml
*.log
*.log.*
*.old
*.back
/log
/logs

dependency-reduced-pom.xml
build.xml

*/maven-build.properties
*/maven-build.xml
maven-build.xml
release.properties
